<div id="topbar">
    <link rel="stylesheet" href="/css/topbar.css">
    <a href="/"><img height="30" width="30" src="/img/notices.png"></a>
    <div id="topbarFlexContainer">
        <% if(loggedIn) { %>
            <a>Hausaufgabenheft</a>
        <% } else { %>
                <a href="/login">Einloggen</a>
                <a href="/signup">Registrieren</a>
            <% } %>
    </div>
</div>