html, body {
    background-color: #3d3d3d;
    color: wheat;
}

h1, h3 {
    text-align: center;
    color: black;
    text-shadow: white 1px 1px 4px;
}

hr {
    color: #a88f63;
    width: 99%;
    position: absolute;
    margin-top: -0.7em;
    margin-bottom: -0.7em;
}

td:nth-child(2), th:nth-child(2) {
    padding-left: 0.3em;
    border-left: 1px solid #a88f63;
}

.subject {
    min-width: 6em;;
    width: clamp(6em, 20vw, 12em);
}

table {
    width: clamp(22em, 80vw, 50em);
}

#container {
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.add {
    background-color: #3d3d3d;
    border-color: #1d1d1d;
    color: wheat;
}

.add:hover {
    background-color: #2d2d2d;
    color: wheat;
}

#addEntry {
    position: fixed;
    background-color: rgba(100, 100, 100, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#addEntry input, #addEntry button {
    background-color: #3d3d3d;
    border-color: #1d1d1d;
    color: wheat;
    max-width: 15em;
    margin: 1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px black;
}

#addEntry button {
    border-radius: 1em;
}

th {
    border-bottom: 1px solid #a88f63;
}

.dayHeadline {
    margin-left: 2em;
}

#placeHolder {
    visibility: hidden;
    height: 3em;
}

#container div {
    margin-bottom: 5em;
}

#navigator {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: max-content;
}

.navigatorButton {
    background-color: #3d3d3d;
    color: wheat;
    border-color: #1d1d1d;
}

.deleteButton  {
    width: max-content;
    background-color: #3d3d3d;
    color: red;
    border-color: #1d1d1d;
    padding: 0.1em;
}

td:last-child {
    width: 1em;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99%;
    height: 99%;
    margin: 0;
    padding: 0;
}